@{
  Layout = "_Layout";
}

<div class="home">
  <span class="container">
    <h2>Dotties Apothecary Est 2007</h2>
    <br>
    <h4>Welcome to your one stop shop for your all your medicinal needs.</h4>
    <br>
    <h4>We are a family run business based in Boise Idaho and have always put our customers first.  Thank you for visting our store and happy shopping!<h4>
    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
  </span>
</div>

<div class="container">
    <div class="card-columns padding-20">
        <div class="card">
            <img src="img\lemon-tea.jpg" class="card-img">
            <div class="middle">
                <div class="img-text">Herbal Lemon Tea
                  <p>$9.99</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\flower-vial.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">WildFlower Vial
                  <p>$19.99</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\white-sage.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Californian White Sage
                  <p>$12.99</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\cream.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Honey Lemon Hand Cream
                  <p>$15.99</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\herbs-crusher.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Mortar & Pestle Ginder
                  <p>$49.99</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\lavender1.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Lavender remedy
                  <p>$7.99</p>
                </div>
                  </div>
        </div>

         <div class="card">
            <img src="img\3Crystals.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Tri-Crystal Energy Pack
                  <p>$39.99</p>
                </div>
                  </div>
        </div>
         <div class="card">
            <img src="img\AloeShampoo.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Aloe Shampoo Care Pack
                  <p>$19.99</p>
                </div>
                  </div>
        </div>
         <div class="card">
            <img src="img\CenteringPack.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Centering Package
                  <p>$22</p>
                </div>
                  </div>
        </div>
         <div class="card">
            <img src="img\CinamonPack.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Cinnamon & Herbs Pack
                  <p>$7.99</p>
                </div>
                  </div>
                  
          <div class="card">
            <img src="img\Chamomile2.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Freshly harvested Chamomile
                  <p>$4.99</p>
                </div>
                  </div>
        </div>
          <div class="card">
            <img src="img\DandelionDropper.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Dandelion Dropper
                  <p>$24.99</p>
                </div>
                  </div>
        </div>
          <div class="card">
            <img src="img\herbs-vials.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Herbal Vial Package
                  <p>$30</p>
                </div>
                  </div>
        </div>
          <div class="card">
            <img src="img\peppermint-roller.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Peppermint Migraine Relief
                  <p>$13.99</p>
                </div>
                  </div>
        </div>
          <div class="card">
            <img src="img\White Sage1.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Virtual Sage Focusing Session (60min)
                  <p>$79.99</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\White Sage3.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Self Guided Meditation Package
                  <p>$25.99</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\Ecualyptus.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Freshly Harvested Ecualyptus
                  <p>$14.99</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\FocusPack.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Internal Energy Package
                  <p>$35</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\GreenMint.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Locally sourced Green Mint
                  <p>$12.99</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\HandCrystal.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Virtual Group Meditation Session (45min)
                  <p>$60</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\LemonBalm.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Freshly Cut Lemon Balm
                  <p>$9.99</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\MultiCrystal.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Multi Crystal Healing Pack
                  <p>$45</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\PurpleCrystal.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Idaho Sourced Amythest
                  <p>$15</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\RoseDropper.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Rose Dropper Extract
                  <p>$20</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\Rosemary.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Dried Rosemary
                  <p>$11</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\SageCrystal.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Sage & Crystal Multi Pack
                  <p>$25</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\WearableEnergy.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Wearable Crystal Energy
                  <p>$65</p>
                </div>
                  </div>
        </div>
        <div class="card">
            <img src="img\teaSet.jpg" class="card-img">
             <div class="middle">
                <div class="img-text">Tea Set (3 packs of Matcha included)
                  <p>$39.99</p>
                </div>
                  </div>
        </div>
      
    </div>
</div>