@{
  Layout = "_Layout";
}

<div class="home">
  <span class="container">
    <h2>Dotties Apothecary Est 2007</h2>
    <br>
    <h4>Welcome to your one stop shop for your all your medicinal needs.</h4>
    <br>
    <h4>We are a family run business based in Boise Idaho and have always put our customers first.  Thank you for visting our store and happy shopping!<h4>
    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
  </span>
</div>

<div class="container">
    <div class="card-columns padding-20">
        <div class="card">
            <img src="img\lemon-tea.jpg" class="card-img">
            <div class="middle">
                <div class="img-text">Herbal Lemon Tea
                  <p>$9.99</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="img\flower-vial.jpg" class="card-img">
        </div>
        <div class="card">
            <img src="img\white-sage.jpg" class="card-img">
        </div>
        <div class="card">
            <img src="img\cream.jpg" class="card-img">
        </div>
        <div class="card">
            <img src="img\dropper.jpg" class="card-img">
        </div>
        <div class="card">
            <img src="img\herbs-crusher.jpg" class="card-img">
        </div>
        <div class="card">
            <img src="img\lavender1.jpg" class="card-img">
        </div>
          <div class="card">
            <img src="img\BL_2.jpg" class="card-img">
        </div>
          <div class="card">
            <img src="img\BL_1.jpg" class="card-img">
        </div>
          <div class="card">
            <img src="img\BL_3.jpg" class="card-img">
        </div>
          <div class="card">
            <img src="img\Chamomile.jpg" class="card-img">
        </div>
          <div class="card">
            <img src="img\Chamomile2.jpg" class="card-img">
        </div>
          <div class="card">
            <img src="img\Chamomile3.jpg" class="card-img">
        </div>
          <div class="card">
            <img src="img\herbs-vials.jpg" class="card-img">
        </div>
          <div class="card">
            <img src="img\peppermint-roller.jpg" class="card-img">
        </div>
          <div class="card">
            <img src="img\White Sage1.jpg" class="card-img">
        </div>
        <div class="card">
            <img src="img\White Sage3.jpg" class="card-img">
        </div>
      
    </div>
</div>