@{
  Layout = "_Layout";
}

<div class="Sale-Items">
  <span class="container">
    <h2>Last Chance Deals!</h2>
    <br>
    <h4>Check out our recently discounted items.  Grab them before they're gone!</h4>
    
    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
  </span>
</div>

